{% extends "learning_logs_1/base.html" %} {% block content %}
<h1>Topics</h1>
<ul>
  <p>Topics</p>
  {% for topic in topics %}
  <li>
    <a href="{% url 'learning_logs_1:topic' topic.id %}">{{ topic }}</a>
    <p>Entries: {{ topic.entry_set.count }}</p>
    <p><a href="{% url 'learning_logs_1:edit_topic' topic.id %}"> Edit </a></p>
    <p>
      <a href="{% url 'learning_logs_1:edit_entry' topic.id %}"> Edit Entry </a>
    </p>
  </li>
</ul>
<a href="{% url 'learning_logs_1:new_topic' %}">Add new topic</a>
{% endblock %}
